/* profile  */

*{
  transition: all .2s ease-out;
}

.share {
   display: flex;
    align-items: center;
    justify-content: center;
    scale: .8;
}
  .share span {
    z-index: 11;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    opacity: 1;
    left: 35%;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    display: flex;
  }
  .share nav {
    font-size: 0;
    display: flex;
  }
  .share a {
    width: 65px;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    /* color: #ffffff; */
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    box-shadow: 13px 10px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    height: 67px;
  }
  .share a:nth-child(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 0;
  }
  .share a:nth-child(1):hover {
    background-color: #61c5ec;
  }
  .share a:nth-child(2):hover {
    background-color: #3B5998;
  }
  .share a:nth-child(3):hover {
    background-color: #ea4335;
  }
  .share a:nth-child(4) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
  }
  .share a:nth-child(4):hover {
    background-color: #000000;
  }
  .share:hover span, .share.hover span {
    opacity: 0;
  }
  .share:hover a, .share.hover a {
    border-radius: 50%;
    margin: 0 10px;
    color: black;
    font-size: 28px;
  }
  .share:hover a:hover, .share.hover a:hover {
    color: #fff;
  }